body{
    background-color: red;
    display:block;
    justify-content: center;
    align-items: center;
   
}

/*--------------- Contraseña ---------------------------------*/
.password-container{
    text-align: center;
}

.password-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#generate-password {
    margin-top: 10px; 
}

#password-result {
    margin-top: 10px;
    font-size: 30px; 
}
/*--------------- Contraseña ---------------------------------*/



/*--------------- reloj ---------------------------------*/
.clock-container{
    background-color: gray;
    text-align: center;
    padding: 30px;
}

.clock{
    font-size: 4em;
    font-weight: bold;
}


.date{
    font-size: 2em;
 
}
/*--------------- reloj ---------------------------------*/

/*----------------Wheather----------------------*/
.container-weather{
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;    
}
.weather-location{
    background-color: blue;
}

.content{
    background-color: yellow;
    display: flex;
    
}

.weather-images{
    background-color: bisque;
    display: flex;
    gap: 10px;
    align-items: center;
}

.weather-information{
    background-color: rosybrown;
}

.weather-information ul {
    list-style: none;
}
/*----------------Wheather----------------------*/

